[DEFAULT]

link = https://www.facebook.com/melbamaggay/friends
recipients = resources/recipients.txt

login_timeout = 120
blacklist = resources/skiplist.txt


[SCRATCH]

scratchlink1 = https://www.facebook.com/Formula1/photos/a.570461836444136/2349544205202548/
scratchlink2 = https://www.facebook.com/melbamaggay/friends
